// body {
//   background:url(/img/bg.jpeg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   background-position:center center;
// }
// 
// .main {
//   opacity: 0.95;
// }

code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: #fc6423;
  background: rgba(175,184,193,0.2);
  border-radius: 6px;
}

strong {
  color: rgb(70, 70, 70)
}

.post-body {
  font-size: 1em;
}

.post-body a {
  color: #0593d3;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: 1px solid #fc6423;
  }
}

.post-body blockquote {
  background: #f6f6f6;
  border-left: 4px solid #44d7b6;
  border-radius: 4px;
  margin: 0 0 20px;
  padding: 16px 20px 1px 24px;
}

.post-body blockquote p {
  margin: 0 0 16px;
}

.tag-list {
  margin: 0;
  padding: 1em 0;
  text-align: center;
}

.tag-list-item {
  display: inline-block;
  list-style: none;
  margin: 0 10px;

  a {
    border-bottom: 0;
    display: block;
    font-size: $font-size-smaller;
    transition: border-color $transition-ease;
  }

  .tag-list-count {
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
  }
}